header {
  text-align: center;
  font-size: 30px;
  color: #279EFF;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C356A;
}

.container {
  text-align: center;
  color: #279EFF;
  width: 100%;
  display: inline-block;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #3498db;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #2980b9;
}


footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  min-height: 5%;
  max-height: 10%;

}

.hLine{
  height: 1px;
  background-color: var(--color-wil);
  width: 90%;
  margin: 0 auto;
}

#logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.logo{
  margin: 5px;
  height: 1.2rem;
}
